/* Global */


body{
margin: 0;
font-family: 'Roboto', sans-serif;
}





/* Nav Bar */

.intro{

    display: flex;
    flex-direction: column;
    background-color: rgba(200, 173, 153, 1);
    padding: 0 5%;
    height: 100vh;
    color: white;
    text-shadow: 1px 1px black;
}

.logo-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.logo-combo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-combo h1{
    padding-left: 5px;
    letter-spacing: 1.5px;
}

.logo{
    width: 25px;
    height: 25px;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-menu li{
    list-style: none;
    margin-right: 40px;
    font-size: 1.2em;
}

.nav-menu a{
    text-decoration: none;
    color: white;
}

.nav-menu a:visted{
    text-decoration: none;
}

.nav-menu a:hover{
    color: brown;
}



/* Navbar Buy it - Button */


#buy-it{
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 20px;
}

#buy-it:hover{
    background-color: brown;
    color: white;
}


/* Introduct Page Content*/

.intro-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.intro-picture{
    height: 40%;
    width: 40%;
    align-self: center;
}

h2{
    text-decoration: none;
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h3{
    text-decoration: none;
    font-size: 1em;
    padding-bottom: 50px;
    text-transform: capitalize
}

.potato-white{
    /* font-family: 'Quicksand', sans-serif; */
    letter-spacing: 2px;
    margin-bottom: 50px;
}


/* Different Shapes and Sizes Section */

.about{
    height: 100vh;
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 245, 245, 0.73)), url(../_images/chad-elliott-4O4DNGDad8Q-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-content h3{
    padding-top: 4%;
    padding-bottom: 0;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 3em;
    /* text-shadow: 1px 1px white; */

}

.about-content p{
    margin-bottom: 0;
    margin-top:0;
    color: white;
    text-shadow: 1px 1px black;

}

.size-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:15px;
    grid-template-rows:auto;
    margin: 10px 10%;
}


/* Small Size Panel */


.sizes-small{
    grid-column: 1 / 2;
    grid-row:1;
    background-color: rgba(245, 246, 252, 0.50);
    border: 1px black solid;
    border-radius: 10px;
}

.small-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-info h4{
    font-size: 1.5em;
    font-weight: 200;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0;
    background-color:rgba(0, 0, 0, 0.336);
    color: white;
}

.small-info h4:hover{
    background-color: black;
}

.small-info ul{
    list-style-type: "\2714";
}

.small-info ul li{
    padding-left: 10px;
}


.sizes-small img{
    width: 400px;
    height: 400px;

}

/* Medium Size Panel */

.sizes-medium{
    grid-column: 2 / 3;
    grid-row:1;
    background-color: rgba(245, 246, 252, 0.50);
    border: 1px black solid;
    border-radius: 10px;
}

.medium-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medium-info h4{
    font-size: 1.5em;
    font-weight: 200;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0;
    background-color:rgba(0, 0, 0, 0.336);
    color: white;
}

.medium-info h4:hover{
    background-color: black;
}

.medium-info ul{
    list-style-type: "\2714";
}

.medium-info ul li{
    padding-left: 10px;
}


.sizes-medium img{
    width: 400px;
    height: 400px;

}



/* Large Size Panel */

.sizes-large{
    grid-column: 3 / 4;
    grid-row:1;
    background-color: rgba(245, 246, 252, 0.50);
    border: 1px black solid;
    border-radius: 10px;
}

.large-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.large-info h4{
    font-size: 1.5em;
    font-weight: 200;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0;
    background-color:rgba(0, 0, 0, 0.336);
    color: white;
}

.large-info h4:hover{
    background-color: black;
}

.large-info ul{
    list-style-type: "\2714";
    margin-bottom: 0;
}

.large-info ul li{
    padding-left: 10px;
    font-size: 1.0em;
}


.sizes-large img{
    width: 400px;
    height: 400px;

}